root = true

[*.{cs,cpp,h}]
charset = utf-8 # Without this setting, Visual Studio will try to read codebase using the current ANSI code page
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
