* text=auto eol=lf
# `.rc` files are resource script files written in text format
*.rc text eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{cmd,[cC][mM][dD]} text eol=crlf
# Use CRLF EOL for README and licenses files as CRLF would be more convenient for regular users (that use SHVDN on 
# Windows) than LF, though Windows 10+ can parse lines with LF eol.
README.md text eol=crlf
COPYRIGHT.md text eol=crlf
LICENSE.txt text eol=crlf
THIRD-PARTY-NOTICES.md text eol=crlf
# Use CRLF EOL for header files of SHV SDK as they use CRLF EOL, so no conversion will be happened
sdk/inc/*.h text eol=crlf