# Build results
bin/
obj/
intermediate/
[Bb]uild/
Debug/
Release/

# Visual Studio cache files
.vs/
ipch/
*.aps
*.VC.db
*.VC.opendb

# Visual Studio user config files
*.sdf
*.opensdf
*.suo
*.user
*.Args.json
*.ArgsCfg.json

# Visual Studio Code
.vscode/

# Temporary OS files
.DS_Store
Thumbs.db
